.container{
    display: flex;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 500px 200px;
    border: 1px solid red;
    ;
}
.child1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  border: 1px dotted green;
      /* width: 300px; */
      border: 1px dotted green;
    /* height: 300px; */
    background-color: aqua;
    ;
}
.child11{
  height: 100px;
  width: 100px;
  border: 1px dotted red;
  background-color: aquamarine;
}
.child12{
  height: 100px;
  width: 100px;
  border: 1px dotted cyan;
  background-color: brown;
}
.child13{
  height: 100px;
  width: 100px;
  border: 1px dotted blueviolet;
  background-color: chartreuse;
}
.child14{
  height: 100px;
  width: 100px;
  border: 1px dotted rosybrown;
  background-color: coral;
}
  
.child2{
  /* width: 300px; */
      border: 1px dotted yellow;
    /* height: 300px; */
    background-color: aquamarine;
}
.child3{
  /* width: 300px; */
      border: 1px dotted brown;
    /* height: 300px; */
    background-color: bisque;
}
.child4{
  /* width: 300px; */
      border: 1px dotted blue;
    /* height: 300px; */
    background-color: blueviolet;
}

.child{
    border: 1px solid black;
    margin: 5px;
    padding: 7px;
    background-color: lavender;
    width: 250px; height: 200px;
       
}